
.div_label {
  float:left;
  width:25%;
  text-align:right;
  margin-right:-9em;
}
.submit_btn
{
margin-left: 17em;
}
.layout
{
	margin-top: 4em;
}
.border
{
	border-radius: 20px;
	border-style:8px  black;
}
.error {
    color: red;
    font-size: 90%;
}
.submit_btn:hover
{
	border:4px solid green;
	transform:width 2s;
}
